	input:focus {
       background: #FFCC99;
    }
	a:link {color:#CFB52B;}
	a:visited {color:#CFB52B;}
	a:hover {color:#CFB52B;}
	a:active {color:#CFB52B;}
	a { text-decoration:none }

	body {
		margin:0px;
		padding:0px;
		background-image:url('nice.jpg');
		background-position: bottom;
	}
	@font-face {
		font-family: Flashit;
		src: url("Flashit.eot");
		src: local('Flashit'), url('Flashit.ttf') format('truetype');
	}
	h1{
		font-size: 30px;
		color:#D9D919;
		font-family:Flashit;
	}
	h2{
		color:#2F2F4F;
		font-family: Verdana;
		font-size:20px;
	}
	.apply {
		color:#2F2F4F;
		font-family: Verdana;
		font-size:20px;
		background-color:#7093DB;
	}
	h3{
		color:#23238E;
		font-family: Verdana;
	}
	.cimsor {
		text-align:center;
	}
	.button {
	   border-top: 1px solid #ffffff;
	   background: #ffffff;
	   background: -webkit-gradient(linear, left top, left bottom, from(#c9c2ff), to(#ffffff));
	   background: -webkit-linear-gradient(top, #c9c2ff, #ffffff);
	   background: -moz-linear-gradient(top, #c9c2ff, #ffffff);
	   background: -ms-linear-gradient(top, #c9c2ff, #ffffff);
	   background: -o-linear-gradient(top, #c9c2ff, #ffffff);
	   padding: 9px 18px;
	   -webkit-border-radius: 11px;
	   -moz-border-radius: 11px;
	   border-radius: 11px;
	   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	   box-shadow: rgba(0,0,0,1) 0 1px 0;
	   text-shadow: rgba(0,0,0,.4) 0 1px 0;
	   color: #cfb42b;
	   font-size: 15px;
	   font-family: 'Verdana', Helvetica, Arial, Sans-Serif;
	   text-decoration: none;
	   vertical-align: middle;
   }
	.button:hover {
	   border-top-color: #ffffff;
	   background: #ffffff;
	   color: #cfb42b;
	   }
	.button:active {
	   border-top-color: #444545;
	   background: #444545;
	   }
   .gomb {
	   border-top: 1px solid #fcbd3f;
	   background: #d16d02;
	   background: -webkit-gradient(linear, left top, left bottom, from(#fa8f03), to(#d16d02));
	   background: -webkit-linear-gradient(top, #fa8f03, #d16d02);
	   background: -moz-linear-gradient(top, #fa8f03, #d16d02);
	   background: -ms-linear-gradient(top, #fa8f03, #d16d02);
	   background: -o-linear-gradient(top, #fa8f03, #d16d02);
	   padding: 20px 40px;
	   -webkit-border-radius: 40px;
	   -moz-border-radius: 40px;
	   border-radius: 40px;
	   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	   box-shadow: rgba(0,0,0,1) 0 1px 0;
	   text-shadow: rgba(0,0,0,.4) 0 1px 0;
	   color: #ffffff;
	   font-size: 24px;
	   font-family: 'Verdana', Helvetica, Arial, Sans-Serif;
	   text-decoration: none;
	   font-weight: bolder;
	   vertical-align: middle;
	   }
	.gomb:hover {
	   border-top-color: #eb6b09;
	   background: #eb6b09;
	   color: #ffffff;
		   }
	.gomb:active {
	   border-top-color: #b05200;
	   background: #b05200;
		   }